body{

}
#sectionDiv{
    color:rgb(0,0,0);
    border: lightslategray;
    border-style: solid;
    border-width: medium;
}
.categoryDiv{
    background-color: silver;
    border: gray;
    border-style: solid;
    border-width: medium;

}